BasedOnStyle: LLVM
Language: Cpp
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
TabWidth: 4
UseTab: ForContinuationAndIndentation
IndentWidth: 4
AlignEscapedNewlines: Left
AlignOperands: Align
AccessModifierOffset: -4
ColumnLimit: 80
